{% extends 'base.html' %}
{% block content %}

<div class = "container my-3">
    <table class = "table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>글쓴이</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1</td>
            <td>Maycan</td>
            <td>
                <a href="#">maycan 기업과제</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>한국대학생IT경영학회</td>
            <td>
                <a href="#">큐시즘 학술제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}