{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    {% for profile_detail in profile %}
    
    <div class="container my-3">
        <h3 class="border-bottom py-2">🔎 USER PROFILE</h3>
        <br><p style="font-size: 20px; font-weight: bold;">🎈 기여도</p><br>
        <p style="font-size: 17px; font-weight: bold;">최종 나의 기여도</p>
        <p style="font-size: 14px;">빨간선은 팀플에서 최소한으로 기여해야 하는 정도이며, 파란색 막대 그래프는 {{ profile_detail.name }}님의 기여도입니다.</p>
        <p style="font-size: 14px;">예를 들어, 4명이 있는 단톡방에서는 최소한 25%만큼의 몫은 해야겠죠?^^</p>
        <img src="/static/{{ profile_detail.name }}_contribution.jpg"><br><br>
        <p style="font-size: 17px; font-weight: bold;">창의성</p>
        <img src="/static/{{ profile_detail.name }}_value1.jpg"><br><br>
        <p style="font-size: 17px; font-weight: bold;">성실성</p>
        <img src="/static/{{ profile_detail.name }}_value2.jpg"><br><br>
        <p style="font-size: 17px; font-weight: bold;">참여성</p>
        <img src="/static/{{ profile_detail.name }}_value0.jpg"><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 이름</p>
        <p>{{ profile_detail.name }}</p><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 대학</p>
        <p>{{ profile_detail.college }}</p><br><br>
        
        <p style="font-size: 20px; font-weight: bold;">🎈 전공</p>
        <p>{{ profile_detail.major }}</p><br><br>
        
        <p style="font-size: 20px; font-weight: bold;">🎈 나이</p>
        <p>{{ profile_detail.age }}</p><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 이력</p>
        <p>{{ profile_detail.workHistory }}</p><br><br>

        <!-- 블로그 주소 있는 경우만 보여짐 -->
        {% if profile_detail.blog %}
        <p style="font-size: 20px; font-weight: bold;">🎈 개인 블로그</p>
        <p>{{ profile_detail.blog }}</p><br><br>
        {% else %}
        {% endif %}

        <p style="font-size: 20px; font-weight: bold;">🎈 카카오톡 프로필 이름</p>
        <p>{{ profile_detail.kakaoName }}</p><br><br>
    </div>
    {% endfor %}
{% endblock %}