{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    {% for profile_detail in profile %}
    <div class="container my-3">
        <h3 class="border-bottom py-2">🔎 USER PROFILE</h3>
        <br><p style="font-size: 20px; font-weight: bold;">🎈 기여도</p>
        <p>그래프</p><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 이름</p>
        <p>{{ profile_detail.name }}</p><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 대학</p>
        <p>{{ profile_detail.college }}</p><br><br>
        
        <p style="font-size: 20px; font-weight: bold;">🎈 전공</p>
        <p>{{ profile_detail.major }}</p><br><br>
        
        <p style="font-size: 20px; font-weight: bold;">🎈 나이</p>
        <p>{{ profile_detail.age }}</p><br><br>

        <p style="font-size: 20px; font-weight: bold;">🎈 이력</p>
        <p>{{ profile_detail.workHistory }}</p><br><br>

        <!-- 블로그 주소 있는 경우만 보여짐 -->
        {% if profile_detail.blog %}
        <p style="font-size: 20px; font-weight: bold;">🎈 개인 블로그</p>
        <p>{{ profile_detail.blog }}</p><br><br>
        {% else %}
        {% endif %}

        <p style="font-size: 20px; font-weight: bold;">🎈 카카오톡 프로필 이름</p>
        <p>{{ profile_detail.kakaoName }}</p><br><br>
    </div>
    {% endfor %}
{% endblock %}