<!-- Sidebar  -->
<nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{% url 'yomember:index' %}">공모전</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{% url 'yomember:team' %}">팀원모집</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{% url 'yomember:searchMember' %}">팀원검색</a>
    </div>
</nav>